<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
  Sammlung an thead-Headerzeilen (1. thead-row) für verschiedene Seiten.
-->

<!-- Display-Headerzeile -->
<th:block th:fragment="displayHeaderRow">
    <tr class="thead-dark-row">
        <th class="id-column hidden">ID</th>
        <th onclick="sortTable(1)">Set Code &#x25B2;&#x25BC;</th>
        <th>Icon</th>
        <th>Typ</th>
        <th>Name</th>
        <th class="text-end">Einkaufspreis</th>
        <th class="text-end th-w-money">Aktueller Wert</th>
        <th>Lagerort</th>
        <th class="text-nowrap th-w-date">Zuletzt aktualisiert</th>
        <th class="meta-column hidden">Verkauft</th>
        <th class="hidden soldprice-column text-end">Verkaufspreis</th>
        <th>Sprache</th>
        <th class="meta-column hidden">Verkäufer</th>
        <th class="meta-column hidden">Kaufdatum</th>
        <th class="meta-column hidden">URL</th>
        <th>Angebote</th>
        <th>Verlauf</th>
    </tr>
</th:block>

<!-- SecretLair-Headerzeile -->
<th:block th:fragment="secretLairHeaderRow">
    <tr class="thead-dark-row">
        <th class="id-column hidden">ID</th>
        <th  class="meta-column hidden"> Deck</th>
        <th class="text-end">Einkaufspreis</th>
        <th class="meta-column hidden">Kaufdatum</th>
        <th>Name</th>
        <th class="text-nowrap th-w-date">Letztes Update</th>
        <th class="text-end th-w-money">Aktueller Wert</th>
        <th>Lagerort</th>
        <th class="meta-column hidden">URL</th>
        <th>Foil</th>
        <th class="meta-column hidden">Verkauft</th>
        <th class="hidden soldprice-column text-end">Verkaufspreis</th>
        <th class="meta-column hidden">Verkaufen</th>
        <th class="meta-column hidden text-end th-w-profit">Gewinn</th>
        <th>Angebote</th>
        <th>Verlauf</th>
    </tr>
</th:block>

</body>
</html>

