<div th:replace="navbarDisplay.html"></div>
<div th:fragment="addForm">
    <button class="btn btn-primary" data-bs-target="#collapseForm" data-bs-toggle="collapse" type="button">
        Display hinzufügen
    </button>
    <div class="collapse" id="collapseForm">
        <form class="p-3 border rounded" method="post" th:action="@{/api/display/save}" th:object="${display}">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Set-Code</label>
                    <select class="form-control form-control-sm" id="setCodeDropdown" required th:field="*{setCode}">
                        <option th:attr="data-name=${set.name},  data-release=${#temporals.format(set.releaseDate, 'yyyy-MM-dd')}, data-icon-uri=${set.iconUri}"
                                th:each="set : ${magicSets}"
                                th:if="${#strings.length(set.code) <= 3}"
                                th:text="${set.code}"
                                th:value="${set.code}"></option>
                    </select>

                    <label class="form-label">Typ</label>
                    <select class="form-control form-control-sm" required th:field="*{type}">
                        <option th:each="tmpType : ${types}"
                                th:text="${tmpType.name()}"
                                th:value="${tmpType.name()}"></option>
                    </select>

                    <label class="form-label">Kaufwert</label>
                    <input class="form-control form-control-sm" required th:field="*{valueBought}"
                           type="number">

                    <label class="form-label">Verkäufer</label>
                    <input class="form-control form-control-sm" required th:field="*{vendor}" type="text">

                    <label class="form-label">Kaufdatum</label>
                    <input class="form-control form-control-sm" required th:field="*{dateBought}" type="date">
                    <label class="form-label">Lagerort</label>
                    <input class="form-control form-control-sm" required th:field="*{location}" type="text">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Name</label>
                    <input class="form-control form-control-sm" id="setNameField" required th:field="*{name}"
                           type="text">

                    <label class="form-label">Letzte Aktualisierung</label>
                    <input class="form-control form-control-sm" required th:field="*{updatedAt}" type="date">

                    <label class="form-label">Aktueller Wert</label>
                    <input class="form-control form-control-sm" th:field="*{currentValue}" type="number">
                    <label class="form-label">Sprache</label>
                    <input class="form-control form-control-sm" required th:field="*{language}" type="text">
                    <label class="form-label">Set-Veröffentlichungsdatum</label>
                    <br>
                    <span class="text-info" id="setReleaseDateInfo"></span>
                    <br>
                    <label class="form-label">Set Icon</label>
                    <div>
                        <img alt="Set Icon"
                             id="setIconPreview" style="width:32px; height:32px; vertical-align:middle; margin-left:8px;">
                    </div>

                </div>

            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const dropdown = document.getElementById('setCodeDropdown');
                    const releaseInfo = document.getElementById('setReleaseDateInfo');
                    const iconPreview = document.getElementById('setIconPreview');
                    const setNameField = document.getElementById('setNameField');
                    dropdown.addEventListener('change', function () {
                        const selectedOption = dropdown.options[dropdown.selectedIndex];
                        const setReleaseDate = selectedOption.getAttribute('data-release');
                        const iconUri = selectedOption.getAttribute('data-icon-uri');
                        const setName = selectedOption.getAttribute('data-name');
                        if (setReleaseDate) {
                            releaseInfo.textContent = setReleaseDate;
                        } else {
                            releaseInfo.textContent = '';
                        }
                        if (iconUri) {
                            iconPreview.src = iconUri;
                            iconPreview.style.display = 'inline';
                        } else {
                            iconPreview.src = '';
                            iconPreview.style.display = 'none';
                        }
                        if (setName) {
                            setNameField.value = setName;
                        } else {
                            setNameField.value = '';
                        }
                    });
                });
            </script>
            <div class="text-center mt-3">
                <button class="btn btn-primary btn-sm" type="submit">Speichern</button>
            </div>
        </form>
    </div>
</div>