<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Displays')"></head>
<body class="bg-light">
<!-- Navigation -->
<th:block th:replace="navbarDisplay.html :: nav"></th:block>

<!-- Hauptinhalt -->
<div class="container mt-5">

    <h1 class="text-center mb-4">Menü</h1>
    <div class="text-center">
        <a class="btn btn-outline-primary btn-lg m-2" href="/api/display/list">Zur Display-Liste</a>
        <a class="btn btn-outline-success btn-lg m-2" href="/api/display/insert">Zu Display importieren</a>
        <a class="btn btn-outline-secondary btn-lg m-2" href="/api/display/aggregated">Zu aggregierten Displays</a>
        <a class="btn btn-outline-secondary btn-lg m-2" href="/api/sets/list">Set Sammlung</a>
    </div>
</div>

<th:block th:replace="fragments/layout :: bootstrapJs"></th:block>
</body>
</html>