<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secret Lairs</title>
    <!-- Bootstrap CSS einbinden -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-light">
<!-- Hauptseite -->
<nav th:replace="navbarDisplay.html :: nav"></nav>

<!-- Button zum Ein-/Ausblenden der ID-Spalte -->
<div class="mb-3">
    <button class="btn btn-secondary" onclick="toggleIdColumn()">ID-Spalte ein-/ausblenden</button>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="id-column">ID</th>
        <th>Deck</th>
        <th>Einkaufspreis</th>
        <th>Kaufdatum</th>
        <th>Name</th>
        <th>Letztes Update</th>
        <th>Aktueller Wert</th>
        <th>URL</th>
        <th>Foil</th>
        <th>Verkauft</th>
        <th>Angebote</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sl : ${secretlair}">
        <td class="id-column" th:text="${sl.id}"></td>
        <td th:text="${sl.deck ? 'Ja' : 'Nein'}"></td>
        <td th:text="${sl.valueBought}"></td>
        <td th:text="${#temporals.format(sl.dateBought, 'yyyy-MM-dd')}"></td>
        <td th:text="${sl.name}"></td>
        <td th:text="${#temporals.format(sl.updatedAt, 'yyyy-MM-dd')}"></td>
        <td th:text="${sl.currentValue}"
            th:classappend="${sl.currentValue > sl.valueBought} ? 'text-success'"></td>
        <td><a th:href="${sl.url}" th:text="${sl.url}"></a></td>
        <td th:text="${sl.foil ? 'Ja' : 'Nein'}"></td>
        <td th:text="${sl.sold ? 'Ja' : 'Nein'}"></td>
        <td>
            <ul>
                <li th:each="angebot : ${sl.angebotList}" th:text="${angebot.name + ' - ' + angebot.preis + ' €'}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<style>
    .id-column {
        display: none;
    }
</style>
<script>
    function toggleIdColumn() {
        const idColumns = document.querySelectorAll('.id-column');
        idColumns.forEach(column => {
            column.classList.toggle('hidden');
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>